<div id="eventsManualPluginContent">
  <div class="carousel-padding-botton" id="carousel"></div>
  <!-- Show If No images -->
  <div class="item clearfix row">
  	<div class="col-md-9 pull-right">
		<div class="well text-center margin-bottom-zero border-none" ng-hide="ContentEvent.event.data.carouselImages.length">
    		<p class="margin-zero">No images found.</p>
  		</div>
  	</div>
  </div>
  <hr class="none">
  <div id="listImage"></div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Event Title *</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" placeholder="Event Title" class="form-control"
             ng-model="ContentEvent.event.data.title">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Start Date *</span>
    </div>

    <div class="main col-md-9 pull-right">
      <input type="date"
             date-time=""
             placeholder="YYYY-MM-DD" class="form-control"
             ng-model="ContentEvent.event.data.startDate">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>All Day</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="checkbox checkbox-primary margin-zero no-label">
        <input type="checkbox" id="allday"
               ng-model="ContentEvent.event.data.isAllDay"
               ng-checked="ContentEvent.event.data.isAllDay">
        <label for="allday"></label>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row" ng-if="!ContentEvent.event.data.isAllDay">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Start Time *</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="time"
             date-time=""
             placeholder="HH24:MI:SS" class="form-control"
             ng-model="ContentEvent.event.data.startTime">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Deep Link URL</span>
    </div>
    <div class="main col-md-9 pull-right">
      <span>{{ContentEvent.event.data.deepLinkUrl}}</span>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>End Date *</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="date"
             date-time=""
             placeholder="YYYY-MM-DD" class="form-control"
             ng-model="ContentEvent.event.data.endDate">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row" ng-if="!ContentEvent.event.data.isAllDay">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>End Time *</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="time" class="form-control"
             date-time=""
             placeholder="HH24:MI:SS"
             ng-model="ContentEvent.event.data.endTime">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Time Zone</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div>{{ContentEvent.showUserTimeZone()}}</div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Repeat</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="checkbox checkbox-primary margin-zero no-label">
        <input type="checkbox" id="repeat"
               ng-model="ContentEvent.event.data.repeat.isRepeating"
               ng-checked="ContentEvent.event.data.repeat.isRepeating">
        <label for="repeat"></label>
      </div>
    </div>
  </div>
  <div class="item clearfix row" ng-if="ContentEvent.event.data.repeat.isRepeating">
    <hr class="none">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Repeats</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="dropdown pull-left col-md-12 padding-zero" dropdown>
        <button class="btn btn-default text-left dropdown-toggle"
                data-toggle="dropdown" dropdown-toggle aria-expanded="true">
          <span class="pull-left">{{ContentEvent.event.data.repeat.repeatType || "Choose Repeat Duration"}}</span>
          <span class="chevron icon-chevron-down pull-right"></span>
        </button>
        <ul class="dropdown-menu extended" role="menu">
          <li ng-click="ContentEvent.changeRepeatType('Daily')">
            <a tabindex="-1" class="transition-third">Daily</a>
          </li>
          <li ng-click="ContentEvent.changeRepeatType('Weekly')">
            <a tabindex="-1" class="transition-third">Weekly</a>
          </li>
          <li ng-click="ContentEvent.changeRepeatType('Monthly')">
            <a tabindex="-1" class="transition-third">Monthly</a>
          </li>
          <li ng-click="ContentEvent.changeRepeatType('Yearly')">
            <a tabindex="-1" class="transition-third">Yearly</a>
          </li>
        </ul>
      </div>
      <!--<div style="color: red;" ng-if="!ContentEvent.isValidRecurrance">Please select Starts On date also for Weekly events</div>-->
    </div>
  </div>
  <span ng-if="ContentEvent.event.data.repeat.isRepeating && ContentEvent.event.data.repeat.repeatType == 'Daily'">
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Repeat Every</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="col-md-4 pull-left padding-left-zero">
        <input type="text" class="form-control text-center" placeholder="1"
               ng-model="ContentEvent.event.data.repeat.repeatCount" onkeypress="return event.charCode>=48 && event.charCode<=57" ng-change="ContentEvent.setZeeroValue()">
      </div>
      <div class="col-md-4 pull-left padding-left-zero">
        <p class="margin-top-five margin-bottom-zero">Days</p>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Starts On</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="date" class="form-control input-disabled" placeholder="Show Start Date"
             ng-model="ContentEvent.event.data.repeat.startDate" disabled>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Ends</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="radio radio-primary margin-zero">
        <input type="radio" id="endsNeverDaily" name="endsRadioDaily"
               ng-model="ContentEvent.event.data.repeat.end" value="NEVER">
        <label for="endsNeverDaily">Never</label>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-3 padding-left-zero pull-left">
        <div
            class="radio radio-primary pull-left margin-top-five margin-bottom-zero">
          <input type="radio" id="endsAfterDaily" name="endsRadioDaily"
                 ng-model="ContentEvent.event.data.repeat.end" value="AFTER">
          <label for="endsAfterDaily">After</label>
        </div>
      </div>
      <div class="col-md-9 padding-zero pull-left">
        <div class="col-md-6 pull-left padding-zero">
          <input type="text" class="form-control text-center"
                 ng-model="ContentEvent.event.data.repeat.endAfter" onkeypress="return event.charCode>=48 && event.charCode<=57" ng-change="ContentEvent.setZeeroValueEndAfter()">
        </div>
        <div class="col-md-6 pull-left padding-right-zero">
          <p class="margin-top-five margin-bottom-zero">Occurrences</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-3 padding-left-zero pull-left">
        <div
            class="radio radio-primary pull-left margin-top-five margin-bottom-zero">
          <input type="radio" id="endsOnDaily" name="endsRadioDaily"
                 ng-model="ContentEvent.event.data.repeat.end" value="ON">
          <label for="endsOnDaily">On</label>
        </div>
      </div>
      <div class="col-md-9 padding-zero pull-left">
        <div class="col-md-12 pull-left padding-zero">
          <input type="date" class="form-control text-center"
                 ng-model="ContentEvent.event.data.repeat.endOn">
        </div>
      </div>
    </div>
  </div>
  </span>
  <span ng-if="ContentEvent.event.data.repeat.isRepeating && ContentEvent.event.data.repeat.repeatType == 'Weekly'">
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Repeat Every</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="col-md-4 pull-left padding-left-zero">
        <input type="text" class="form-control text-center" placeholder="1"
               ng-model="ContentEvent.event.data.repeat.repeatCount" onkeypress="return event.charCode>=48 && event.charCode<=57" ng-change="ContentEvent.setZeeroValue()">
      </div>
      <div class="col-md-4 pull-left padding-left-zero">
        <p class="margin-top-five margin-bottom-zero">Weeks</p>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Repeat On</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="checkbox checkbox-primary margin-zero">
        <input type="checkbox" id="repeatSu"
               ng-model="ContentEvent.event.data.repeat.days.sunday">
        <label for="repeatSu">Su</label>
      </div>
      <div class="checkbox checkbox-primary margin-zero margin-left-five">
        <input type="checkbox" id="repeatMo"
               ng-model="ContentEvent.event.data.repeat.days.monday">
        <label for="repeatMo">Mo</label>
      </div>
      <div class="checkbox checkbox-primary margin-zero margin-left-five">
        <input type="checkbox" id="repeatTu"
               ng-model="ContentEvent.event.data.repeat.days.tuesday">
        <label for="repeatTu">Tu</label>
      </div>
      <div class="checkbox checkbox-primary margin-zero margin-left-five">
        <input type="checkbox" id="repeatWe"
               ng-model="ContentEvent.event.data.repeat.days.wednesday">
        <label for="repeatWe">We</label>
      </div>
      <div class="checkbox checkbox-primary margin-zero margin-left-five">
        <input type="checkbox" id="repeatTh"
               ng-model="ContentEvent.event.data.repeat.days.thursday">
        <label for="repeatTh">Th</label>
      </div>
      <div class="checkbox checkbox-primary margin-zero margin-left-five">
        <input type="checkbox" id="repeatFr"
               ng-model="ContentEvent.event.data.repeat.days.friday">
        <label for="repeatFr">Fr</label>
      </div>
      <div class="checkbox checkbox-primary margin-zero margin-left-five">
        <input type="checkbox" id="repeatSa"
               ng-model="ContentEvent.event.data.repeat.days.saturday">
        <label for="repeatSa">Sa</label>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Starts On *</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="date" class="form-control input-disabled" placeholder="Show Start Date"
             ng-model="ContentEvent.event.data.repeat.startDate" disabled>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Ends</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="radio radio-primary margin-zero">
        <input type="radio" id="endsNeverWeekly" name="endsRadioWeekly"
               ng-model="ContentEvent.event.data.repeat.end" value="NEVER">
        <label for="endsNeverWeekly">Never</label>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-3 padding-left-zero pull-left">
        <div
            class="radio radio-primary pull-left margin-top-five margin-bottom-zero">
          <input type="radio" id="endsAfterWeekly" name="endsRadioWeekly"
                 ng-model="ContentEvent.event.data.repeat.end" value="AFTER">
          <label for="endsAfterWeekly">After</label>
        </div>
      </div>
      <div class="col-md-9 padding-zero pull-left">
        <div class="col-md-6 pull-left padding-zero">
          <input type="text" class="form-control text-center"
                 ng-model="ContentEvent.event.data.repeat.endAfter" onkeypress="return event.charCode>=48 && event.charCode<=57" ng-change="ContentEvent.setZeeroValueEndAfter()">
        </div>
        <div class="col-md-6 pull-left padding-right-zero">
          <p class="margin-top-five margin-bottom-zero">Occurrences</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-3 padding-left-zero pull-left">
        <div
            class="radio radio-primary pull-left margin-top-five margin-bottom-zero">
          <input type="radio" id="endsOnWeekly" name="endsRadioWeekly"
                 ng-model="ContentEvent.event.data.repeat.end" value="ON">
          <label for="endsOnWeekly">On</label>
        </div>
      </div>
      <div class="col-md-9 padding-zero pull-left">
        <div class="col-md-12 pull-left padding-zero">
          <input type="date" class="form-control text-center"
                 ng-model="ContentEvent.event.data.repeat.endOn">
        </div>
      </div>
    </div>
  </div>
  </span>
  <span ng-if="ContentEvent.event.data.repeat.isRepeating && ContentEvent.event.data.repeat.repeatType == 'Monthly'">
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Repeat Every</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="col-md-4 pull-left padding-left-zero">
        <input type="text" class="form-control text-center" placeholder="1"
               ng-model="ContentEvent.event.data.repeat.repeatCount" onkeypress="return event.charCode>=48 && event.charCode<=57" ng-change="ContentEvent.setZeeroValue()">
      </div>
      <div class="col-md-4 pull-left padding-left-zero">
        <p class="margin-top-five margin-bottom-zero">Months</p>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Starts On</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="date" class="form-control input-disabled" placeholder="Show Start Date"
             ng-model="ContentEvent.event.data.repeat.startDate" disabled>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Ends</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="radio radio-primary margin-zero">
        <input type="radio" id="endsNeverMonthly" name="endsRadioMonthly"
               ng-model="ContentEvent.event.data.repeat.end" value="NEVER">
        <label for="endsNeverMonthly">Never</label>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-3 padding-left-zero pull-left">
        <div
            class="radio radio-primary pull-left margin-top-five margin-bottom-zero">
          <input type="radio" id="endsAfterMonthly" name="endsRadioMonthly"
                 ng-model="ContentEvent.event.data.repeat.end" value="AFTER">
          <label for="endsAfterMonthly">After</label>
        </div>
      </div>
      <div class="col-md-9 padding-zero pull-left">
        <div class="col-md-6 pull-left padding-zero">
          <input type="text" class="form-control text-center"
                 ng-model="ContentEvent.event.data.repeat.endAfter" onkeypress="return event.charCode>=48 && event.charCode<=57" ng-change="ContentEvent.setZeeroValueEndAfter()">
        </div>
        <div class="col-md-6 pull-left padding-right-zero">
          <p class="margin-top-five margin-bottom-zero">Occurrences</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-3 padding-left-zero pull-left">
        <div
            class="radio radio-primary pull-left margin-top-five margin-bottom-zero">
          <input type="radio" id="endsOnMonthly" name="endsRadioMonthly"
                 ng-model="ContentEvent.event.data.repeat.end" value="ON">
          <label for="endsOnMonthly">On</label>
        </div>
      </div>
      <div class="col-md-9 padding-zero pull-left">
        <div class="col-md-12 pull-left padding-zero">
          <input type="date" class="form-control text-center"
                 ng-model="ContentEvent.event.data.repeat.endOn">
        </div>
      </div>
    </div>
  </div>
  </span>
  <span ng-if="ContentEvent.event.data.repeat.isRepeating && ContentEvent.event.data.repeat.repeatType == 'Yearly'">
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Repeat Every</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="col-md-4 pull-left padding-left-zero">
        <input type="text" class="form-control text-center" placeholder="1"
               ng-model="ContentEvent.event.data.repeat.repeatCount" onkeypress="return event.charCode>=48 && event.charCode<=57" ng-change="ContentEvent.setZeeroValue()">
      </div>
      <div class="col-md-4 pull-left padding-left-zero">
        <p class="margin-top-five margin-bottom-zero">Years</p>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Starts On</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="date" class="form-control input-disabled" placeholder="Show Start Date"
             ng-model="ContentEvent.event.data.repeat.startDate" disabled>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Ends</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="radio radio-primary margin-zero">
        <input type="radio" id="endsNeverYearly" name="endsRadioYearly"
               ng-model="ContentEvent.event.data.repeat.end" value="NEVER">
        <label for="endsNeverYearly">Never</label>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-3 padding-left-zero pull-left">
        <div
            class="radio radio-primary pull-left margin-top-five margin-bottom-zero">
          <input type="radio" id="endsAfterYearly" name="endsRadioYearly"
                 ng-model="ContentEvent.event.data.repeat.end" value="AFTER">
          <label for="endsAfterYearly">After</label>
        </div>
      </div>
      <div class="col-md-9 padding-zero pull-left">
        <div class="col-md-6 pull-left padding-zero">
          <input type="text" class="form-control text-center"
                 ng-model="ContentEvent.event.data.repeat.endAfter" onkeypress="return event.charCode>=48 && event.charCode<=57" ng-change="ContentEvent.setZeeroValueEndAfter()">
        </div>
        <div class="col-md-6 pull-left padding-right-zero">
          <p class="margin-top-five margin-bottom-zero">Occurrences</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-3 padding-left-zero pull-left">
        <div
            class="radio radio-primary pull-left margin-top-five margin-bottom-zero">
          <input type="radio" id="endsOnYearly" name="endsRadioYearly"
                 ng-model="ContentEvent.event.data.repeat.end" value="ON">
          <label for="endsOnYearly">On</label>
        </div>
      </div>
      <div class="col-md-9 padding-zero pull-left">
        <div class="col-md-12 pull-left padding-zero">
          <input type="date" class="form-control text-center"
                 ng-model="ContentEvent.event.data.repeat.endOn">
        </div>
      </div>
    </div>
  </div>
  </span>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Address Title</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" class="form-control" placeholder="Address Title"
             ng-model="ContentEvent.event.data.addressTitle">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Address</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" class="form-control"
             placeholder="Enter Street Address or Long/Lat Coordinates"
             ng-model="ContentEvent.currentAddress" google-location-search
             callback-fn="ContentEvent.setLocation(data)"
             ng-enter="ContentEvent.setCoordinates()"
             ng-change="ContentEvent.clearAddress()">
      <br>

      <div class="alert alert-danger alert-sm text-center"
           ng-show="ContentEvent.validCoordinatesFailure">Please enter valid
        coordinates
      </div>
    </div>
  </div>
  <div class="item clearfix row" ng-if="ContentEvent.currentCoordinates">
    <hr class="none">
    <div class="main col-md-9 pull-right">
      <div google-map dragged-fn="ContentEvent.setDraggedLocation(data)"
           coordinates="ContentEvent.currentCoordinates"
           class="mapSize"></div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Body Content</span>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-12 pull-right">
      <textarea rows="5" width="100%"
                class="form-control" placeholder="WYSIWYG"
                ui-tinymce="ContentEvent.descriptionWYSIWYGOptions"
                ng-model="ContentEvent.event.data.description"></textarea>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Links</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="col-md-4 row" style="margin-left: 15%;">
        <a class="btn btn-success pull-left stretch"
           ng-click="ContentEvent.addLink()">Add Link</a>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-12 pull-right">
      <div class="draggable-list-view wide-list has-btn links-list"
           ui-sortable="ContentEvent.linksSortableOptions"
           ng-model="ContentEvent.event.data.links">
        <div class=" ui-sortable d-item double-line square-icon clearfix"
             ng-repeat="_link in ContentEvent.event.data.links">
          <span class="icon icon-menu cursor-grab pull-left"></span>

          <div class="media-holder pull-left">
            <img src="../../../../../../sdk/styles/media/holder-1x1.png">
          </div>
          <div class="copy pull-right">
            <div class=" col-md-4 padding-zero pull-left">
              <a class="text-primary"
                 ng-click="ContentEvent.editLink(_link,$index)"><span
                  class="title ellipsis pull-left">{{_link.title}}</span></a>
              <span class="title ellipsis pull-left">{{_link.url ||
                _link.phoneNumber}}</span>
            </div>
          <span
              class="btn-icon btn-delete-icon btn-danger transition-th  ird pull-right"
              ng-click="ContentEvent.removeLink($index)"></span>
          </div>
        </div>

        <!-- Show If No Links -->
        <div class="well text-center margin-bottom-zero border-none"
             ng-hide="ContentEvent.event.data.links.length">
          <p class="margin-zero">No links found.</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-9 pull-right">
      <div class="col-md-6 pull-right padding-right-zero padding-left-ten">
        <button class="btn btn-primary pull-right stretch"
                ng-click="ContentEvent.gotToHome()"
                ng-disabled="!ContentEvent.isValidEvent(ContentEvent.event.data)">
          Done
        </button>
      </div>
    </div>
  </div>
</div>