<div class="holder padding-zero">
  <div class="events-plugin">
    <div class="plugin-banner clearfix"
         ng-if="WidgetEvent.event">
      <div ng-style="WidgetEvent.event.data.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}" id="carousel" ng-if="WidgetEvent.event.data.carouselImages.length"
           build-fire-carousel="" ng-style="WidgetHome.data.content.images.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
    </div>
    <div class="padded event-intro clearfix padding-bottom-five">
      <div class="event-date text-center pull-left">
        <h3
            class="margin-zero text-primary">{{WidgetEvent.event.data.startDate
          | getMonth}}</h3>

        <h1
            class="margin-zero text-primary">{{WidgetEvent.event.data.startDate
          |
          getDate}}</h1>
      </div>

      <div class="event-info pull-left margin-left-fifteen titleWidth70">
        <p class="ellipsis margin-zero">{{WidgetEvent.event.data.title}}</p>

        <p class="margin-zero"
           ng-if="((WidgetEvent.event.data.endTime >= 0) && (!WidgetEvent.event.data.isAllDay))">
          {{WidgetEvent.event.data.startTime | date: "hh:mm a"}} - {{WidgetEvent.event.data.endTime | date: "hh:mm a"}}
          {{WidgetEvent.event.data.startTime && (WidgetEvent.event.data.startTime | getTimeZone) || ""}}</p>
          <p class="margin-zero"
             ng-if="WidgetEvent.event.data.isAllDay">
              All Day</p>
        <a class="text-primary" href="javascript:void(0)" ng-click="WidgetEvent.addEventsToCalendar(WidgetEvent.event)">Add to Calendar</a>
      </div>
    </div>
    <div class="plugin-banner has-info-bar location-map clearfix" ng-if="WidgetEvent.event.data.address.location_coordinates">
      <div class="plugin-slide map-holder">
        <p ng-if="!WidgetEvent.event.data.address.location">

        <div google-map class="mapSize"
             ng-if="WidgetEvent.event.data.address.location"
             coordinates="WidgetEvent.event.data.address.location_coordinates"></div>
      </div>
      <div class="info-bar titleBarBackgroundTheme text-center">
        <p ng-show="WidgetEvent.event.data.addressTitle"
           class="titleBarTextAndIcons margin-bottom-zero ellipsis col-xs-12">
          <a class="titleBarTextAndIcons" ng-click="WidgetEvent.onAddressClick(WidgetEvent.event.data.address.location_coordinates[0],WidgetEvent.event.data.address.location_coordinates[1])">
            {{WidgetEvent.event.data.addressTitle}}</a></p>
         <p ng-hide="WidgetEvent.event.data.addressTitle"
           class="titleBarTextAndIcons margin-bottom-zero ellipsis col-xs-12"> <a class="titleBarTextAndIcons" ng-click="WidgetEvent.onAddressClick(WidgetEvent.event.data.address.location_coordinates[0],WidgetEvent.event.data.address.location_coordinates[1])">
          {{WidgetEvent.event.data.address.location}}</a></p>
      </div>
    </div>
    <div class="text-left padded padding-bottom-zero clearfix">
        <p ng-if="WidgetEvent.event.data.title.length>35">{{WidgetEvent.event.data.title}}</p>
      <p ng-bind-html="WidgetEvent.safeHtml(WidgetEvent.event.data.description)"></p>

      <div class="dynamic-links">
        <a ng-repeat="link in WidgetEvent.event.data.links"
           ng-click="WidgetEvent.executeActionItem(link)">{{link
          .title}}</a>
      </div>
    </div>
  </div>
</div>
